/* Noto Sans TC字型導入 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* 通用設定 start*/
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    color: #3D1101;
    font-size: 16px;
    font-weight: 100;
    font-family:  "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}
a{
    text-decoration: none;
    display: block;
    color: #3D1101;
}
i {
    font-style: italic;
    font-weight: 600;
  }
/* 通用設定 end */
.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
/* layout header start */
.header{
    height: 420px;
    background-image: url(../images/header_desktop.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.nav{
    height: 56px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.7);
}
.nav ul{
    display: flex;
    margin-right: 20px;
}
.nav a{
    color: #FFFFFF;
}
.nav .logo h1{
    margin: 16px 40px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Noto Sans TC";
}
.menu ul li{
    width: 60px;
    text-align: center;
    line-height: 56px;
}
.menu ul li a:hover{
    background-color: orange;
    transition: .3s;
}
.menu h2{
    font-size: 1em;
}
.menu h2 span{
    font-size: 0.7em;
}
.menu-hamburgerIcon{
    display: none;
}
.header .content{
    max-width: 460px;
    margin: auto;
    margin-top: 65px;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.3);
}
.header .content h3{
    font-size: 2.25em;
    margin-bottom: 16px;
    font-weight: 200;
}
@media (max-width: 500px) {
    .header{
        background-image: url(../images/header_mobile.png);
    }
    .logo h1{
        margin: 15px;
        font-size: 1.2em;
    }
    .menu ul{
        position: absolute;
        top: 56px;
        right: 0px;
        max-height: 0px;
        overflow: hidden;
        border-bottom: 1px solid white;
        transition: max-height 1.5s;
        z-index: 10;
    }
    .menu-show .menu ul {
        max-height: 100px;
    }
    .menu-hamburgerIcon{
        position: absolute;
        font-size: 1.2em;
        border: 1px solid white;
        text-align: center;
        line-height: 37px;
        width: 80px;
        height: 40px;
        top: 10px;
        right: 20px;
        display: block;
    }
}
/* layout header end */

/* article1 start*/
.article1 .content1{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.25em;
    line-height: 32px;
    text-align: center;
}
/* 用:before :after添加左右橫線效果 */
.article1 .content1 span{
    display: block;
    position: relative;
}
.article1 .content1 span:before, .article1 .content1 span:after {
    content: " ";
    position: absolute;
    top: 50%;
    background: #979797;
    width: 10%;
    height: 1px;
}
.article1 .content1 span:before {
    left: 28%; 
}
.article1 .content1 span:after {
    right: 28%;
}
/* 用:before :after畫左右橫線中間文字效果 end*/
.article1 .content2 > ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 50px;
}
.article1 .content2 .sub-content{
    width: 25%;
}
/* 消除圖片四角背色*/
.article1 .content2 img{
    border-radius: 50%;
    max-width: 100%;
}
.article1 .content2 h4{
    margin: 20px 0px 10px 0px;
    font-size: 1.125em;
}
.article1 .content2 p{
    text-align: left;
}
@media (max-width: 500px) {
    /* 取消畫左右橫線中間文字效果 */
    .article1 .content1 span:before, .article1 .content1 span:after {
        display: none;
    }
    .article1 .content2 > ul{
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .article1 .content2 .sub-content{
        width: 80%;
        margin-bottom: 30px;
    }
}
/* article1 end */

/* article2 start*/
.article2{
    background-color: #3D1101;
}
.article2 ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.article2 li{
    width: 45%;
}
.article2 img{
    max-width: 100%;
}
.article2 .content2{
    padding: 10px 0px;
    color: #EFE9E7;
}
.article2 .content2 h4{
    font-size: 1.25em;
    margin-bottom: 16px;
}
@media (max-width: 500px) {
    .article2 ul{
        flex-direction: column;
    }
    .article2 li{
        width: 80%;
    }
}
/* article2 end */

/* article3 start*/
.article3 {
    padding: 50px 0px;
    background-color: rgb(239, 233, 231);
}
/* 消除圖片四角背色*/
.article3 img{
    border-radius: 50%;
    margin-right: 10px;
}
.article3 .content1{
    font-size: 1.5em;
    text-align: center;
}
.article3 .content2 > ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.article3 .content2 .sub-content{
    width: 30%;
}
.article3 .content2 .sub-content ul{
    display: flex;
}
.article3 .content2 .sub-content h4{ 
    font-size: 1.15em;
    margin-bottom: 20px;
}
.article3 .content2 .sub-content span{
    display: block;
    text-align: right;
}
@media (max-width: 500px) {
    .article3 .content2 .sub-content{
        width: 90%;
    }
    .article3 .content2 > ul{
        flex-wrap: wrap;
    }
}
/* article3 end */

/* article4 start*/
.article4{
    padding: 50px 10px;
}
.article4 .content1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 38px;
}
.article4 .content2 > ul{
    display: flex;
    justify-content: space-evenly;
}
.article4 .content2 .sub-content{
    width: 49%;
}
.article4 label{
    margin-bottom: 10px;
}
.article4 .form-inputs input{
    display: block;
    margin: 10px 0px;
    width: 100%;
    height: 32px;
}
.article4 .content2 .buttons{
    margin-top: 30px;
    float: right;
}
.article4 .content2 .buttons input{
    width: 70px;
    height: 32px;
    margin-left: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.article4 .content2 .buttons .span1{
    color: white;
    background-color: rgb(160, 158, 158);
}
.article4 .content2 .buttons .span2{
    color: white;
    background-color: rgb(243, 108, 49);
}
.article4 .content2 .buttons input:hover{
    cursor: pointer;
}
.article4 .content2 .buttons input:active{
    background-color: green;
}
@media (max-width:500px) {
    .article4 .content2 > ul{
        flex-direction: column;
    }
    .article4 .content2 .map{
        height: 386px;
        margin-bottom: 10px;
    }
    .article4 .content2 .sub-content{
        width: 98%;
    }
}
/* article4 end*/

/* layout footer start */
.footer{
    padding: 50px 0px;
    background-color: rgb(239, 233, 231);
}
.footer > ul{
    display: flex;
    justify-content: space-around;
}
.footer .content1, .footer .content2,.footer .content3{
    width: 30%;
}
.footer .content1 h3, .content2 h3{
    font-size: 1.5em;
    margin-bottom: 16px;
}
.footer .content2 a {
    display: inline-block;
    text-decoration: underline;
}
.footer .content2 li{
    margin-bottom: 10px;
}
.footer .content3 h2{
    font-size: 3em;
    font-weight: 500;
    font-family: "Noto Sans TC";
}
.footer .content3 .logo{
    text-align: end;
    margin-bottom: 22px;
}
.footer .content3 .share-icon ul{
    display: flex;
    justify-content: flex-end;
}
.footer .content3 .share-icon li{
    margin-left: 10px;
    font-size: 2em;
}
@media (max-width: 500px) {
    .footer{
        padding: 20px 0px 0px 0px;
    }
    .footer > ul{
        flex-direction: column;
    }
    .footer .content1, .footer .content2,.footer .content3{
        width: 90%;
        margin: 0px auto 30px auto;
    }
}
/* layout footer end */

/* layout goToTop icon */
#goToTop{
    position: fixed;
    bottom: 15%;
    right: 2%;
    font-size: 2em;
    cursor: pointer;
    display: none;
}
@media (max-width: 500px) {
    #goToTop{
        font-size: 1.5em;
    }
}